.mycontainer{
    background-image: url("../../assets/imagenes/imagenCuentaEdit.jpg");
    background-size: cover;  
    height: 100%;
}
.formas{
    background-color: white;
}
.icono {
    font-size: 100px;
    height: 143px;
    width: 130px;
    color: white;
}

.icono-media {
    font-size: 50px;
    height: 45px;
    width: 40px;
    color: white;
}

.icono2 {
    font-size: 25px;
    height: 25px;
    width: 25px;
    color: #9F5C64;
}
p{
    color: #050343;
    text-decoration: underline;
}
