<div class="mycontainer container full">
    <div class="py-4">
        <i class="bi bi-list icono2" routerLink="/home"></i>
    </div>
    <div class="my-3 text-center">
        <i class="bi bi-person-circle icono"></i>
    </div>
    <div class="my-4 container d-flex justify-content-around align-items-center">
        <p routerLink="/login">Log In</p>
        <p routerLink="/crearcuenta">Crear Cuenta</p>
    </div>
    <div class="my-5 row" routerLink="/home">
        <div class="col-4 text-center">
            <i class="bi bi-house icono2"></i>
        </div>
        <div class="col-8">
            <h4 class="fs-5">Home</h4>
        </div>
    </div>
    <div class="my-5 row">
        <div class="col-4 text-center" routerLink="/categorias">
            <i class="bi bi-grid-fill icono2"></i>
        </div>
        <div class="col-8" routerLink="/categorias">
            <h4 class="fs-5">Categorias</h4>
        </div>
    </div>
    <div class="my-5 row">
        <div class="col-4 text-center" routerLink="/posts">
            <i class="bi bi-file-post icono2"></i>
        </div>
        <div class="col-8" routerLink="/posts">
            <h4 class="fs-5">Mis Posts</h4>
        </div>
    </div>
    <div class="my-5 row">
        <div class="col-4 text-center" routerLink="/login">
            <i class="bi bi-door-open-fill icono2"></i>
        </div>
        <div class="col-8" routerLink="/login">
            <h4 class="fs-5">Log Out</h4>
        </div>
    </div>
</div>
