.mycontainer{
    background-color: #9F5C64;
    background-size: cover;  
    height: 100%;
}
.icono {
    font-size: 100px;
    height: 143px;
    width: 130px;
    color: white;
}

.icono-media {
    font-size: 50px;
    height: 45px;
    width: 40px;
    color: white;
}

.icono2 {
    font-size: 30px;
    height: 30px;
    width: 30px;
    color: white;
}
h4{
    color: white;
}
p{
    color: #050343;
    text-decoration: underline;

}
