<div class="mycontainer container full">
  <div class="py-2 d-flex justify-content-between align-items-center gap-3">
    <i class="bi bi-arrow-left-circle-fill icono-media" routerLink="/menu"></i>
  </div>
  <h3 class="text-center">Crear Cuenta</h3>
  <div class="my-2 bg-light container d-flex flex-column justify-content-around align-items-center">
    <div *ngIf="message" class="alert alert-secondary" role="alert" [(ngModel)]="message" ngDefaultControl>
      {{message}}
    </div>
    <div
      class="container d-flex flex-column justify-content-around align-items-center"
    >
      <form [formGroup]="form" ngDefaultControl>
        <div class="my-4 form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="name"
            placeholder="Nombre"
            formControlName="name"
            name="name" ngDefaultControl
          />
        </div>
        <div class="my-4 form-group">
          <input
            type="text"
            class="form-control"
            id="lastname"
            aria-describedby="lastname"
            placeholder="Apellido"
            formControlName="lastname"
            name="lastname" ngDefaultControl
          />
        </div>
        <div class="my-4 form-group">
          <input
            type="text"
            class="form-control"
            id="number_phone"
            aria-describedby="number_phone"
            placeholder="Numero Celular"
            formControlName="phone_number"
            name="phone_number" ngDefaultControl
          />
        </div>
        <div class="my-4 form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            placeholder="Correo"
            formControlName="email"
            name="email" ngDefaultControl
          />
        </div>
        <div class="my-4 form-group">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Contraseña"
            formControlName="password"
            name="password" ngDefaultControl
          />
        </div>
        <div class="my-5 container text-end">
          <i
            class="bi bi-arrow-right-circle-fill icono2"
            (click)="submitRegistrar(form.value)"
          ></i>
        </div>
      </form>
    </div>
  </div>
 
</div>
