@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&family=Roboto:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.micolor2 {
    background-color: #9F5C64;
    color: white;
}