img {
    max-width: 100%;
    height: 200px;
}

.micolor2 {
    background-color: #9F5C64;
    border: 1px solid #9F5C64;
    color: white;
}

.mycontainer {
    width: 100%;
}

.myfooter {
    height: 50px;
}