<div class="container full mycontainer">
    <app-header [title]="title_home"></app-header>
    <img src="../../assets/imagenes/titleBlog.jpeg" alt="Titulo">

    <h3 class="fw-semibold my-4">POST RECIENTES</h3>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/imagenes/foto1.jpeg" class="d-block w-100" alt="Foto 1">
            <h3 class="py-1 fw-bold fs-5">Colores de Uñas </h3>
            <div class="d-flex justify-content-around align-items-center">
                <span class="btn micolor2">Belleza</span>
                <span class="btn micolor2">Moda</span>
            </div>
          </div>
          <div class="carousel-item" *ngFor="let post of posts">
            <img src="../../assets/imagenes/foto2.jpeg" class="d-block w-100" alt="Foto 1">
            <h3 class="py-1 fw-bold fs-5"> {{post.title}} </h3>
            <div class="d-flex justify-content-around align-items-center">
                <span class="btn micolor2">{{post.category.nombre}}</span>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <h3 class="fw-semibold my-4">CATEGORIAS</h3>
      <div class="my-4 container d-flex flex-column justify-content-around align-items-center gap-3">
        <span class="btn micolor2" *ngFor="let category of categories">
          {{category.nombre}}
        </span>
      </div>
      <div class="micolor2 myfooter"></div>
</div>
